* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 45px;
  width: 45px;
}

#bomb {
  background-color: red;
}

#nextTo {
  background-color: grey;
}